$c-black: #000000;
$c-black-brown: #35312D;
$c-arrow-inactive: #202020;
$c-tomato: #C62100;
$c-tomato-light: #F16A50;
$c-brown-light: #F8F1EA;
$c-dot-inactive: rgba(248, 241, 234, 0.7);
$c-dark-dot-inactive: #CAC2BA;


