
p {
  font-family: 'Lato 300';
  font-size: 18px;
  line-height: 26px;
  color: $c-font;   
  opacity: 0.7;

  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (max-width: 640px) {
    font-size: 14px;
    line-height: 16px; 
  }
}
  
 
.italic-span {
  color: $c-font-italic;
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Playfair Display RI';

  @media screen and (max-width: 992px) {
    font-size: 35px;
    line-height: 37px;
  } 
  @media screen and (max-width: 768px) { 
    font-size: 25px;
    line-height: 29px; 
  }

  @media screen and (max-width: 640px) {
    font-size: 21px;
    line-height: 24px;  
  }
}