.partners {
  &__bg {
    width: 1400px;
    padding: 70px 0;
    background-color: $c-brown-light;
    position: relative;
  
  }

  &__h2 {
    text-align: center;
    margin-bottom: 40px;

    h2 {
      font-family: 'M700';
      font-size: 32px;
      text-transform: uppercase;
      color: $c-black;
    }
  }

  &__slider {
    margin: 0 auto;
    width: 1186px;
  }
}

.partners-slider {
  &__item {
    display: flex;
    justify-content: center;

  }
}