.contact-form {
    &__wrapper {
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    padding: 60px 0 104px 0;
    display: flex;   

    @media screen and (max-width: 640px) { 
        flex-direction: column;
    }
    }

    &__contact {
    max-width: 470px;
    width: 100%;
    margin-right: 230px;

    @media screen and (max-width: 992px) { 
        margin-right: 100px;
        width: 320px;
        width: 100%;
    }

    @media screen and (max-width: 640px) { 
        margin-bottom: 40px;
    }

    & :nth-child(1) {
    margin-bottom: 29px;

    @media screen and (max-width: 640px) { 
        margin-bottom: 10px;
        }
    }
    }

    &__form {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    }
}

.form {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 640px) { 
    max-width: 300px;
    }

    & input {
    border-bottom: 1px solid rgb(38, 42, 63, 0.2);
    margin-bottom: 40px; 
    padding-left: 10px;
    outline: none;
    font-size: 18px;
    opacity: 0.8;
    }

    & ::placeholder {
        font-family: 'Playfair Display RI';
        font-weight: thin;
        font-style: italic;
        font-size: 18px;
        line-height: 44px;
        opacity: 0.5;
        letter-spacing: 0.08em;
       
     @media screen and (max-width: 640px) { 
        font-size: 14px;
        line-height: 24px;
        opacity: 0.5;
        }
    } 

    &__btn {
        width: max-content;
        text-align: start;
        display: block;
        &:after {
        content: " ";
        border-bottom: 13px solid #F1897B;
        max-width: 163px;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 11px;
        opacity: 0.3;
        }

        &:hover::after {
        border-bottom: 15px solid #E64F3A;
        transform: translate(-11px, -7px);
        transition: all 0.4s ease;
        }
    }
}