.container {
    width: 100%;
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;


 @media screen and (max-width: 1536px) {
    max-width: 1320px;
    padding: 0 20px;

 }
 @media screen and (max-width: 1280px) { 
    max-width: 1032px; 
    padding: 0 20px;  
 }
 @media screen and (max-width: 992px) { 
    max-width: 808px;
    padding: 0 20px; 
    
 }
 @media screen and (max-width: 768px) { 
    max-width: 680px;  
    padding: 0 20px; 
 }
 @media screen and (max-width: 640px) { 
    max-width: 500px;  
    padding: 0 10px; 
 }
 @media screen and (max-width: 480px) { 
    max-width: 100%;  
    padding: 0 5px;
 }
 
} 