.header {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.5px);
    line-height: 80px;
    padding: 24px 0;
    margin: 0 auto 150px auto;
    max-width: 1440px;
    position: relative;
    z-index: 9;
    

    @media screen and (max-width: 992px) {
        margin: 0 auto 80px auto;
        padding: 20px 0;
    }

    @media screen and (max-width: 768px) { 
        margin: 0 auto 40px auto;
        padding: 10px 0;
    }

    @media screen and (max-width: 640px) {
        margin: 0 auto 30px auto;
        padding: 7px 0; 
        line-height: 40px;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
        padding: 0 15px;
    }

    &__content {
     display: flex;
     justify-content: space-between;
     align-items: center;
    }

    &__nav {
        display: flex;
    }

    &__logo {
        display: flex;

        & a {
            display: flex;
        }
    }

    &__burger {
        display: none;
        
        @media screen and (max-width: 640px) {
            display: block;
        }
    }

}

.nav {
    font-family: 'Lato 300';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #262A3F;
    
  
    &__list {
        display: flex;
        gap: 30px;
        position: relative;
        transition: all .04s;
        
        @media screen and (max-width: 768px) {
            gap: 10px;
        }

        @media screen and (max-width: 640px) {
            flex-direction: column;
            padding: 15px 30px 0 30px;
            position: absolute;
            left: 0;
            top: -30px;
            background: white;
            height: 100vh;
            z-index: 10; 
            visibility: hidden; 

            &.is-open {
                @media screen and (max-width: 640px) {
                    transform: translateX(0);
                    visibility: visible;
                }
            }
        }

        @media screen and (max-width: 480px) {
           
        }

        & a {
            color: #262A3F;
            text-decoration: none;
            transition: all .4s ease;

            @media screen and (max-width: 640px) {
                text-align: left;
                padding-right: 100px;
                padding-bottom: 20px;
                font-weight: 700;
            }
        }
        & :hover{
            color: #F1897B;
        }
    }
}