.info {
    position: relative;
    padding-bottom: 120px;
    

    &__content {
        display: flex;
        justify-content: space-between;
    }
    
    &__second-block {
        background: #FFFFFF;
        opacity: 0.9;
        width: 770px;
        max-height: 580px;
        position: relative;
        left: -170px;
        top: 45px; 
        margin-right: -170px;
        display: flex;
        justify-content: space-between;
    }
}

.second-block {
    &__numbers {
        max-width: 370px;
        width: 100%;
        text-align: center;
        padding: 45px 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__text-button {
        max-width: 400px;
        padding: 45px 0 150px 0;
    }

    &__text {
        font-family: 'Lato 300';
        font-size: 18px;
        line-height: 26px;
        opacity: 0.8;
        color: #262A3F;
        margin-bottom: 50px;
    }

    &__button button::after {
        content: " ";
        border-bottom: 13px solid #F1897B;
        max-width: 172px;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 11px;
        opacity: 0.3;
    }

    &__button button:hover::after {
        border-bottom: 13px solid #E64F3A;
    }
}

.number {
    font-family: 'Playfair Display R';
    font-size: 68px;
    line-height: 72px;
    color: #262A3F;
    margin-bottom: 12px;
    & span {
        font-family: 'Playfair Display R';
        font-size: 40px;
        line-height: 50px;
        opacity: 0.1;
    }
}

.number-caption {
    font-family: 'Lato 300';
    font-size: 18px;
    line-height: 26px;
}