
.slogan {
  &__wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../images/quote-background.webp);
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 100px 260px 160px 200px; 
    position: relative;
          
    @media screen and (max-width: 1280px) {
      padding: 70px 230px 160px 160px;
    }

    @media screen and (max-width: 992px) {
      padding: 50px 150px 100px 100px;
      margin-bottom: 100px;
    }
    
    @media screen and (max-width: 768px) {
      padding: 40px 100px 80px 70px;
      margin-bottom: 100px;
    }  

    @media screen and (max-width: 640px) {
      padding: 60px 60px 60px 50px;
      margin-bottom: 100px;
    } 
  }

  &__content {
    max-width: 710px;
    max-height: 200px;

    &::after {
     content: url(../images/vector.svg);
     position: absolute;
     bottom: 315px;
     left: 135px; 
           
     @media screen and (max-width: 1280px) {
      scale: 0.7;
      display: block;
      bottom: 276px;
      right: 128px; 
      }

     @media screen and (max-width: 992px) {
      scale: 0.6;
      display: block;
      bottom: 248px;
      left: -83px;
      } 
    
     @media screen and (max-width: 768px) {
      scale: 0.5;
      display: block;
      bottom: 179px;
      right: 266px;
      }

      @media screen and (max-width: 640px) {
        scale: 0.4;
        display: block;
        bottom: 180px;
        right: 217px;
      } 

      @media screen and (max-width: 480px) {
        scale: 0.4;
        display: block;
        bottom: 180px;
        right: 217px;
      } 
    }

    & :first-child {
      font-family: 'Lato R';
      font-size: 32px;
      line-height: 46px;
      margin-bottom: 40px;
      color: #FFFFFF;
      letter-spacing: 0.04em;
      opacity: 1; 

      @media screen and (max-width: 992px) {
        font-size: 27px;
        line-height: 35px;
      }
  
      @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 30px;
      }

      @media screen and (max-width: 640px) {
        font-size: 18px;
        line-height: 26px;
      } 
    }
  
    & :nth-child(2) {
    font-family: 'Playfair Display RI';
    font-style: italic;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.08em;
    opacity: 1;

      @media screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 26px;
      } 
    }
  }
}

