.swiper {
  height: auto;

  .swiper-wrapper {

  }
   
    .swiper-slide {

    }
    
    .swiper-slide {

    }
   .swiper-pagination {
    display: flex;
    align-items: end;
    

      
   }

  //  .swiper-button-prev {

  // }
  .swiper-button-next,
  .swiper-button-prev {
   background-color: #057638;
  }
}
