@import './resets.scss';
@import './breakpoints';

.wrapper {
    margin: 0 auto;
    padding-top: 30px;
}

a, 
button {
    cursor: pointer;
}

h2 {
    font-family: 'Playfair Display R';
    font-weight: 200;
    font-size: 40px;
    line-height: 39px;
    font-size: 40px;

    @media screen and (max-width: 992px) {
        font-size: 35px;     
    }

    @media screen and (max-width: 768px) { 
        font-size: 25px;
        line-height: 29px;   
    }

    @media screen and (max-width: 640px) {
        font-size: 21px;
        line-height: 24px;  
    }
}

.background {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;

    & img {
        display: block;
        margin: 0 auto;  
    }
}







